/* More practice with selectors */
#continents, #oceans {
    border: 1px solid black;
    width: 300px;
}

#continents {
    background-color: lightgreen;
}

#oceans {
    background-color: skyblue;
    color: white;
}

#continents>h2 {
    text-decoration: underline wavy 3px brown;
    text-align: center;
}

#oceans>h2 {
    text-decoration: underline dotted 3px indigo;
    text-align: center;
}