/* Playing with Fonts- 5 Generic Families (Serif, Sans-serif, Monospace, Cursive, and Fantasy) */
#font-1 {
    font-family: Georgia, serif;
    font-size: 24px;
    font-weight: 500;
}
#font-2 {
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: lighter;
}
#font-3 {
    font-family: Lucida Console, monospace;
    font-size: 2em;
    font-weight: 300;
}
#font-4 {
    font-family: Brush Script MT, cursive;
    font-size: 3rem;
    font-weight: bolder;
}
#font-5 {
    font-family: Jokerman, fantasy;
    font-size: 500%;
    font-weight: 800;
}